:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --box-shadow-2x-light: 0 2rem 6rem rgba(var(--color-black), 0.08);
  --box-shadow-light: 0 2rem 4rem rgba(var(--color-black), 0.2);
  --box-shadow-dark: 0 2rem 6rem rgba(var(--color-black), 0.4);
  --line: 1px solid var(--color-grey-light-2); }

@keyframes btn-scale {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(var(--color-black), 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  color: var(--color-grey-dark-2);
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.container {
  max-width: 120rem;
  background-color: var(--color-grey-light-1);
  margin: 8rem auto;
  box-shadow: var(--box-shadow-dark); }

.header {
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: 2px solid var(--color-grey-light-2); }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  flex: 1; }

.detail {
  padding: 4.5rem;
  background-color: var(--color-grey-light-2);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.btn-inline {
  border: none;
  padding-bottom: 2px;
  background-color: transparent;
  color: var(--color-primary);
  border-bottom: 1px solid currentColor;
  font-size: inherit;
  cursor: pointer;
  transition: color 0.3s;
  display: inline-block; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }
  .btn-inline:focus {
    outline: none;
    animation: btn-scale 1s infinite; }

.description {
  flex: 0 0 60%;
  background-color: var(--color-white);
  padding: 3rem;
  margin-right: 4.5rem;
  box-shadow: var(--box-shadow-2x-light); }

.recommend {
  display: flex;
  justify-content: center;
  align-items: center; }
  .recommend__count {
    font-size: 1.3rem;
    margin-right: auto; }
  .recommend__photo {
    box-sizing: content-box;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid var(--color-grey-light-1); }
    .recommend__photo:not(:last-child) {
      margin-right: -2rem; }

.gallery {
  display: flex; }
  .gallery__photo {
    display: block;
    width: 100%; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__logo {
    width: 4.5rem;
    height: 3rem;
    margin-left: 2rem; }
  .header .search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 40%;
    font-size: 1.4rem; }
    .header .search__input {
      background-color: var(--color-grey-light-2);
      width: 90%;
      border-radius: 20px;
      padding: 1.1rem 2rem;
      border: none;
      transition: all 0.3s;
      color: var(--color-grey-dark-2);
      font-size: inherit;
      font-family: inherit; }
      .header .search__input:focus {
        outline: none;
        width: 100%;
        background-color: var(--color-grey-light-3); }
      .header .search__input::placeholder {
        color: var(--color-grey-light-4); }
    .header .search__btn {
      background-color: var(--color-grey-light-2);
      margin-left: -4rem;
      border: none;
      fill: var(--color-grey-light-4);
      cursor: pointer; }
      .header .search__btn:focus {
        outline: none; }
      .header .search__btn:active {
        transform: scale(0.9); }
    .header .search__icon {
      height: 2rem;
      width: 2rem; }
  .header .user-nav {
    display: flex;
    align-items: center;
    align-self: stretch; }
    .header .user-nav > div {
      padding: 0 2rem;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center; }
    .header .user-nav > div:hover {
      background-color: var(--color-grey-light-3); }
    .header .user-nav__icon-box {
      position: relative; }
    .header .user-nav__icon {
      width: 2.5rem;
      height: 2.5rem;
      fill: var(--color-grey-light-4); }
    .header .user-nav__user-notification {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-white);
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: var(--color-primary);
      position: absolute;
      top: 0.8rem;
      right: 1.5rem; }
    .header .user-nav__user-photo {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      margin-right: 1rem; }
    .header .user-nav__user-name {
      font-size: 1.5rem; }

.list {
  margin: 2.5rem 0 4.5rem;
  padding: 2rem 0 3rem;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none; }
  .list__item {
    flex: 50%;
    margin-bottom: 0.7rem;
    display: flex;
    align-items: center; }
    .list__item::before {
      content: "";
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-image: url(../img/chevron-thin-right.svg);
      mask-size: cover;
      width: 1.1rem;
      height: 1.1rem;
      display: inline-block;
      background-color: var(--color-primary);
      margin-right: 0.4rem; }

.side-nav {
  list-style: none;
  padding-top: 4rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
    .side-nav__item::before {
      content: "";
      background-color: var(--color-primary);
      width: 5px;
      height: 100%;
      transform: scaleY(0);
      position: absolute;
      left: 0;
      top: 0;
      transition: transform 0.3s, width 0.3s 0.3s cubic-bezier(1, 0, 0, 1), background-color 0.2s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    width: 100%;
    transform: scaleY(1); }
  .side-nav__item:active::before {
    background-color: var(--color-primary-dark); }
  .side-nav__link:link, .side-nav__link:active {
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    position: relative;
    z-index: 10; }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }

.legal-copy {
  padding: 2rem;
  font-size: 1.3rem;
  color: var(--color-grey-light-4);
  text-align: center; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-2); }
  .overview__heading {
    font-size: 2.25rem;
    padding: 1.5rem 3rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__stars-icon, .overview__location-icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .overview__location {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    font-size: 1.3rem; }
  .overview__location-icon {
    margin-right: 3px; }
  .overview__rating {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
    align-self: stretch;
    color: var(--color-white);
    background-color: var(--color-primary); }
  .overview__rating-average {
    font-size: 2.5rem; }

.user-review {
  flex: 1; }
