.container {
  max-width: 120rem;
  background-color: var(--color-grey-light-1);
  margin: 8rem auto;
  box-shadow: var(--box-shadow-dark);
}

.header {
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: 2px solid var(--color-grey-light-2);
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  flex: 1;
}

.detail {
  padding: 4.5rem;
  background-color: var(--color-grey-light-2);
  font-size: 1.5rem;
  @include flex-center;
}
