.btn-inline {
  border: none;
  padding-bottom: 2px;
  background-color: transparent;
  color: var(--color-primary);
  border-bottom: 1px solid currentColor;
  font-size: inherit;
  cursor: pointer;
  transition: all 0.3s;
  display: inline-block;

  span {
    margin-left: 2px;
    transition: all 0.3s;
  }

  &:hover span {
    margin-left: 7px;
  }

  &:hover {
    color: var(--color-grey-dark-1);
  }

  &:focus {
    outline: none;
    animation: btn-scale 1s infinite;
  }
}
