.list {
  margin: 2.5rem 0 4.5rem;
  padding: 2rem 0 3rem;
  border-top: var(--line);
  border-bottom: var(--line);
  @include flex-center;
  flex-wrap: wrap;
  list-style: none;

  &__item {
    flex: 50%;
    margin-bottom: 0.7rem;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-image: url(../img/chevron-thin-right.svg);
      mask-size: cover;
      width: 1.1rem;
      height: 1.1rem;
      display: inline-block;
      background-color: var(--color-primary);
      margin-right: 0.4rem;
    }
  }
}
