.list {
  margin: 2.5rem 0 4.5rem;
  padding: 2rem 0 3rem;
  border-top: var(--line);
  border-bottom: var(--line);
  @include flex-center;
  flex-wrap: wrap;
  list-style: none;

  @media only screen and (max-width: $bp-x-smallest) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {
    flex: 50%;
    margin-bottom: 0.7rem;
    display: flex;
    align-items: center;

    &::before {
      content: "";

      // NEWER BROWSER
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;
        background-color: var(--color-primary);
        background-image: none;
      }

      // OLDER BROWSER
      background-image: url("../img/chevron-thin-right.svg");
      background-size: cover;

      width: 1.1rem;
      height: 1.1rem;
      display: inline-block;
      margin-right: 0.4rem;
    }
  }
}
