.review {
  background-color: var(--color-white);
  padding: 3rem;
  margin-bottom: 3rem;
  position: relative;

  &::before {
    content: "\201C";
    position: absolute;
    top: -2.7rem;
    left: -1rem;
    font-size: 20rem;
    font-family: sans-serif;
    line-height: 1;
    color: var(--color-grey-light-2);
    z-index: 5;
  }

  &__text {
    position: relative;
    z-index: 10;
    margin-bottom: 2.5rem;
  }

  &__user {
    @include flex-center;
  }

  &__photo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: 2rem;
  }

  &__user-box {
    margin-right: auto;
    font-size: 1.2rem;
  }

  &__user-name {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__rating {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--color-primary);
  }
}
